.header {
  height: 5rem;
  width: 100vw;
  background-color: lightpink;
  position: sticky;
  top: 0;
  padding-left: 2rem;
  display: flex;
  justify-content: space-between;
}

.header a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
